{% extends "base.html" %}

{% block content %}

<main style="max-width: 75rem; margin: auto; margin-top: 10rem;">
  <div id="aboutus">
    <header style="text-align:center;" class="title">
      <h1>About Us</h1>
    </header>
    <section>
      <article id="oslo-img">
        <img src="https://res.cloudinary.com/drwf1wdsc/image/upload/v1567500717/Shop_jxcutb.jpg" />
      </article>
    </section>
    <section id="about-oslo">
      <article>
        <p>
          Oslo Diner is a restaurant located in the heart of Dang, Ngaoundéré. We operate a unique system that allows
          you to book reservations and meals in advance up to as little as one hour before your arrival and be served
          immediately you arrive. <br>
          Our menu covers a vast array of local recipes of our country and is tailored to adapt to the ever dynamic
          taste of our customers. This means we have a flexible menu to accommodate the different desires of our
          customers at very affordable prices, because at Oslo Diner, <strong style="color: #E17108">“your taste is
            our command”</strong>.<br>
          Our 200 seater restaurant also doubles as an event center and we have the best event management and catering
          team on ground to make your dream event a reality.
        </p>

      </article>
    </section>
    <section></section>
  </div>
  <div id="team">
    <header style="text-align:center;" class="title">
      <h1>Our Team</h1>
    </header>

    <section>
      <div class="grid-container">
        <div class="item10">
          <div class="content">
            <img style="height: 50%;"
              src="https://res.cloudinary.com/nmel/image/upload/c_scale,h_366,w_400/v1593600278/IMG_20181213_224509_6_orgrkk.jpg"
              alt="Avatar" class="avatar" />
            <div class="desc">NGEUTCHUE Momeni, Milliadaire</div>
          </div>
        </div>
        <div class="item11">
          <div class="content">
            <img style="height: 50%;"
              src="https://res.cloudinary.com/sape123/image/upload/v1571408607/IMG_20190518_183300_785_500x466_2_sykpju.jpg"
              alt="Avatar" class="avatar" />
            <div class="desc">Brandone Sape. Project Manager</div>
          </div>
        </div>
      </div>
    </section>
  </div>
</main>
{% endblock content %}